exclude: ^.idea/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-format
        files: ^app_api/
        args: [ --config=app_api/pyproject.toml, app_api ]
      - id: ruff-check
        files: ^app_api/
        args: [ --fix, --select, I, F401, app_api ]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        files: ^app_web/
        args: [ --config app_web/.eslint.config.mjs app_web --fix ]
